.toast-success {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
  }
  
  .toast-success .toast-title {
    color: white;
  }
  
  .toast-success .toast-message {
    color: white;
  }